{% extends 'base.html' %}
{% load staticfiles %}

{% block othercss %}
<link href="{% static 'assets/toastr-2.1.2/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'css/user_list.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}<title> 配置后台 ｜ 应用列表 </title>{% endblock %}

{% block main %}
<div class="main">
    <div class="refresh"><input class="input-admin" type="button" name="refresh" value="刷新"></div>
    <div id="user_list" >
        <table class="table mb0 pr15 ranger-box2  ">
            <thead><tr>
                <th>序号</th>
                <th>用户名</th>
                <th>家目录</th>
                <th>主机</th>
                <th>端口</th>
                <th>连接成功or失败</th>
                <th>操作</th>
            </tr></thead>
            <tbody>

{% for eachdata in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{eachdata.user}}</td>
        <td>{{eachdata.home_dir}}</td>
        <td>{{eachdata.hostname}}({{eachdata.ip}})</td>
        <td>{{eachdata.sshport}}</td>
        <td>
            {% ifequal eachdata.isconnected 1 %}
                <span class="success">&nbsp;&nbsp;</span>
            {% else %}
                <span class="failed">&nbsp;&nbsp;</span>
            {% endifequal %}({{eachdata.connect_time}})
        </td>
        <td class="action">
            <input class="input-admin" type="hidden" name="id" value="{{eachdata.id}}">
            <input class="input-admin" type="hidden" name="machine_id" value="{{eachdata.machine_id}}">
            <input class="input-admin" type="button" name="check" value="检测连接">
            <input class="input-admin" type="button" name="edit" value="编辑">
            <input class="input-admin" type="button" name="delete" value="删除">
        </td>
    </tr>
{% endfor %}

            </tbody>
        </table>
    </div> <!-- end of user list -->
</div>
<script src="{% static 'assets/toastr-2.1.2/toastr.min.js' %}"></script>
<script src="{% static 'js/user_list.js' %}"></script>

{% endblock %}
