
.refresh {
    //height:35px;
    //line-height:35px;
    background:#ccc;
}
.refresh input {
    float:right;
    margin: 0 60px 0 0;

}
.clear {
    clear:both;
}

.right {
    float:right;
    margin: 0 60px 0 0 ;
}

#user_list .success {
    display:inline-block;
    width:20px;
    background:green;
}
#user_list .failed {
    display:inline-block;
    width:20px;
    background:red;
}